<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>tionsJS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
	<script src="https://unpkg.com/marked@0.3.6"></script>
	<script src="https://unpkg.com/lodash@4.16.0"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<link rel="stylesheet" href="assets/css/index.css">
</head>

<body class="">
	<!-- <div id="onda.show"></div> -->

	<div id="content">
		<div id="app">
			<template>
				<div class="title"><h4 id="titleProject">tionsJS</h4></div>
			</template>

			<input type="text" v-model="user" placeholder="User" v-on:keyup.enter="fetchRepos" autofocus />

			<div v-if="!buscandoNumeroCommits">
				<div>Total commits: {{ total_commits }}</div>

				<ul v-if="repos.length">
					<br><br><span>Repositories:</span>

					<li v-for="repo in repos">
						<span v-if="!repo.fork">
							<img src="assets/i/repo.svg" title="Repo" />
						</span>
						<span v-else>
							<img src="assets/i/repo-forked.svg" title="Repo forked" />
						</span>

						<a :href="repo.html_url" target="_blank" class="name-repo">
							{{ repo.full_name }} - {{ repo.numero_commits }}
						</a>
					</li>
				</ul>
			</div>
			<ul v-if="usuarioVazio">
				<li>Type your username</li>
			</ul>


			<ul v-if="datasCommits.length">
				<br><br><span>datasCommits:</span>

				<li v-for="repoc in datasCommits">
					{{ repoc.valorVerificar }} - {{ repoc.q }}
				</li>
			</ul>

			<div id="quadro">
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<script src="assets/js/index.js"></script>
</body>